#if ($hasAfter)
import org.junit.After;
#end
#if ($hasBefore)
import org.junit.Before;
#end
import org.junit.Test;
import org.junit.runner.RunWith;
import org.mockito.InjectMocks;
import org.mockito.Mock;
import ${testFramework.runnerClass.nameCanonical};

#foreach($import in $imports)
import ${import};
#end

/**
* {@link ${className}}的单元测试类
*
* @author ${user} on ${date}
*/
@RunWith(${testFramework.runnerClass.nameSimple}.class)
public class ${testClassName} #if ($hasSuperClass) extends ${superClass.nameSimple} #end{

@InjectMocks
private ${className} ${instanceName};

#foreach($field in $fieldList)
    ${field.comment}
@Mock
private ${field.typeInfo.nameGenericsSimple} ${field.fieldName};
#end
#if ($hasBefore)

@Before
public void before() {

}
#end
#foreach($method in ${methodList})

@Test
public void test${method.methodNameUp}() {

}
#end
#if ($hasAfter)

@After
public void after() {

}
#end
}